/* blank slate */
body, html{
    margin: 0 !important;
    padding: 0 !important;
}

.top_nav{
    
    display: flex;
    width: 94%;
    height: 6vh;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    background-color: yellow;
}
.nav_buttons_wrapper{
    display: flex;
    width: 10%;
    justify-content: space-evenly;
}

.main_section{
    display: flex;
    width: 94%;
    height: 79vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    

    background-color: aqua;

    
}

.footer_section{
    display: flex;
    width: 94%;
    margin: 0 auto;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
}